<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-h2-title>We were waiting for you 🤗</app-h2-title>

  <div>
    <div class="input-wrap">
      <label for="email">Email</label>

      <input
        id="email"
        formControlName="email"
        placeholder="Please enter your email"
        type="email"
      />

      @if (
        loginForm.controls["email"].invalid &&
        loginForm.controls["email"].touched
      ) {
        @if (loginForm.controls["email"].errors?.["required"]) {
          <small class="input-error">Email is required</small>
        }
        @if (loginForm.controls["email"].errors?.["email"]) {
          <small class="input-error">Invalid email format</small>
        }
      }
    </div>

    <div class="input-wrap">
      <label for="password">Password</label>

      <input
        id="password"
        formControlName="password"
        placeholder="Please enter your password"
        type="password"
      />
      @if (
        loginForm.controls["password"].invalid &&
        loginForm.controls["password"].touched
      ) {
        @if (loginForm.controls["password"].errors?.["required"]) {
          <small class="input-error">Password is required</small>
        }
        @if (loginForm.controls["password"].errors?.["minlength"]) {
          <small class="input-error">Min 8 characters</small>
        }
      }
    </div>
  </div>

  <app-submit-button [disabled]="loginForm.invalid" />
</form>
