main {
  padding: 160px 30px 60px;
  width: 100%;
  display: flex;
  justify-content: center;

  > section {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: 992px) {
      width: 892px;
    }

    @media (min-width: 1280px) {
      width: 1190px;
    }

    @media (min-width: 1920px) {
      width: 1360px;
    }
  }
}
