form {
  background-color: var(--brand-color);
  padding: 80px 30px;
  border-radius: 10px;

  @media (min-width: 768px) {
    & {
      padding: 80px 60px;
    }
  }

  @media (min-width: 1280px) {
    & {
      padding: 80px 100px 80px 80px;
    }
  }

  @media (min-width: 1920px) {
    & {
      padding: 100px 80px;
    }
  }
}
