header {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  position: fixed;
  z-index: 999;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding: 0 30px;

    > .desktop-nav {
      display: none;
    }
    > .mobile-nav {
      display: block;
    }

    @media (min-width: 768px) {
      > .mobile-nav {
        display: none;
      }
      > .desktop-nav {
        display: block;
      }
    }

    @media (min-width: 1280px) {
      width: 1240px;
      height: 93px;
    }

    @media (min-width: 1920px) {
      width: 1520px;
      height: 112px;
    }
  }
}
