@if (vacancies$ | async; as vacancies) {
  <app-title [title]="'Vacancies'" [mutedNum]="vacancies.length" />

  <div>
    <section>
      @if (vacancies.length > 0) {
        @for (vacancy of vacancies; track vacancy._id) {
          <app-vacancy-card [vacancy]="vacancy" />
          <mat-divider></mat-divider>
        }
      } @else {
        <app-h2-title> No vacancies yet 😔 </app-h2-title>
      }
    </section>

    <app-aside class="aside">
      <aside-button (click)="goToVacancyForm()" text="Add vacancy" />
    </app-aside>
  </div>
}
