<app-card>
  <app-details>
    <app-tag [text]="agreement().vacancy.area" />

    <div>
      {{
        agreement().vacancy.location.flag +
          " " +
          agreement().vacancy.location.country
      }}
    </div>
  </app-details>

  <app-card-title
    (click)="goToAgreement(agreement()._id)"
    [title]="
      agreement().vacancy.employer.name +
      ' & ' +
      agreement().candidate.firstName +
      ' ' +
      agreement().candidate.lastName
    "
    [commission]="agreement().commission"
  />

  <app-details>
    <div>{{ agreement().vacancy.title }}</div>
  </app-details>
</app-card>
