button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  border-radius: 26px;
  padding: 0 30px;
  transition: all 0.3s ease;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  text-transform: none;

  &:hover {
    background-color: white;
    color: var(--brand-color);
  }
}
