div {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  app-title {
    color: white;
  }
}
