.card-title {
  font-size: 18px;
  line-height: 26px;

  display: inline-flex;
  gap: 5px;

  @media (min-width: 1280px) {
    & {
      font-size: 26px;
      line-height: 39px;
    }
  }

  > span.colored-text {
    color: var(--brand-color);
  }
}
